<form class="flex flex-col h-dvh" [formGroup]="toolForm">
  <div class="flex items-center justify-between px-2 py-4 w-full h-16">
    <div class="flex items-center">
      <a
        class="flex items-center w-8 h-8 justify-center text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
        [routerLink]="'/tools'"
      >
        <span
          class="material-icons text-gray-700 dark:text-gray-400 hover:text-primary-700 dark:hover:text-white"
          >arrow_back</span
        >
      </a>
      <h4 class="ml-4">Summarization</h4>
    </div>

    @if (!isInitializing) {
    <berkeliumlabs-dropdown
      class="mr-2 w-1/4"
      [options]="availableModels"
      placeholder="Select a model"
      formControlName="model"
    ></berkeliumlabs-dropdown>
    }
  </div>

  <div class="flex-grow px-4 pt-6 overflow-y-auto flex flex-col">
    @if (isInitializing) {
    <berkeliumlabs-spinner class="mt-4"></berkeliumlabs-spinner>
    } @else {

    <div class="flex-grow flex items-center gap-2 overflow-hidden">
      <div
        class="p-3 h-full w-full overflow-y-auto border border-gray-400 dark:border-gray-800 rounded-lg focus:outline-none focus:border-primary-500"
        [contentEditable]="true"
        (input)="onContentChange($event)"
        #textInput
      ></div>
      <div
        class="p-3 h-full w-full overflow-y-auto border border-gray-400 dark:border-gray-800 rounded-lg focus:outline-none focus:border-primary-500"
        [innerHTML]="summarizedContent"
      ></div>
    </div>
    <div class="flex items-center justify-center gap-3 py-4">
      <button
        class="solias-btn solias-btn--primary solias-btn--md flex items-center justify-center"
        (click)="summarize()"
        [disabled]="toolForm.invalid || content.length === 0 || inProgress"
      >
        @if (inProgress) {
        <span class="material-icons animate-spin mr-2">progress_activity</span>
        }
        {{ inProgress ? "Summarizing..." : "Summarize" }}
      </button>
      <button
        class="solias-btn solias-btn--secondary--outlined solias-btn--md"
        (click)="clearContent()"
        [disabled]="content.length === 0"
      >
        Clear
      </button>
    </div>
    }
  </div>
</form>
