<div class="flex flex-col h-dvh">
  <div class="flex items-center justify-between px-2 py-4 w-full h-16">
    <div class="flex items-center">
      <a
        class="flex items-center w-8 h-8 justify-center text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
        [routerLink]="'/tools'"
      >
        <span
          class="material-icons text-gray-700 dark:text-gray-400 hover:text-primary-700 dark:hover:text-white"
          >arrow_back</span
        >
      </a>
      <h4 class="ml-4">Image to Image</h4>
    </div>
  </div>

  <div class="flex-grow px-4 pt-6 overflow-y-auto"></div>
</div>
